<%= form_for @external, url: external_signin_path do |f| %>
  <% if @external.errors.any? %>
    <ul>
      <% @external.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <ul>
    <li>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.submit "Sign In" %>
    </li>
  </ul>
<% end %>