<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<br>
<h1>Welcome <%= @inhouse.username %></h1>
<ul>
  <li><%= link_to "Manage Forms", forms_path %></li>
  <li><%= link_to "Manage Jobs", jobs_path %></li>
  <li><%= link_to "Manage External Recruiters", inhouse_contracts_path %></li>
</ul>